<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>스프링 게시판 - 목록</title>
  <link rel="stylesheet" href="/board/css/common.css">
  <link rel="stylesheet" href="/board/css/list.css">
</head>
<body>
<div class="container">
  <h1>게시글 목록</h1>
  <div class="nav">
    <a href="list.html">목록으로</a>
    <a href="write.html">새 글 쓰기</a>
  </div>

  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일시</th>
      <th>작업</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="post : ${posts}">
      <td th:text="${post.id}">3</td>
      <td>
        <a th:unless="${post.secret}" th:href="@{detail.html(id=${post.id})}" th:text="${post.title}">세 번째 게시글 제목 샘플</a>
        <span th:if="${post.secret}">비밀글입니다.</span>
      </td>
      <td th:text="${post.author}">작성자3</td>
      <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2026-07-13 15:30:00</td>
      <td>
        <form th:action="@{delete(id=${post.id})}" method="post">
          <button type="submit" class="btn btn-danger">삭제</button>
        </form>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>