<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>잘못된 요청입니다</title>
    <link rel="stylesheet" th:href="@{/board/css/common.css}">
    <link rel="stylesheet" th:href="@{/board/css/error.css}">
</head>
<body>
<div class="error-container">
    <h1 class="error-code">404</h1>
    <h2 class="error-title">페이지를 찾을 수 없습니다.</h2>
    <p class="error-message" >요청하신 페이지가 존재하지 않습니다.</p>
    <a th:href="@{list.html}" class="btn-home">목록으로 돌아가기</a>
</div>
</body>
</html>